.userContainer {
  display: none;

  @media screen and (min-width: 1158px) {
    display: flex;
    width: 165px;
    height: 50px;
    background-color: #171719;
    border-radius: 30px;
    margin-right: 80px;
    margin-top: 15px;
    margin-left: 100px;
  }
}

.name {
  color: #fafafa;
}
