.chartContainer {
  border-radius: 30px;
  background-color: #171719;
  width: 328px;
  height: 471px;
  margin-left: 20px;
  margin-top: 40px;

  @media screen and (min-width: 768px) {
    width: 695px;
    height: 302px;
    margin-left: 22px;
  }

  @media screen and (min-width: 1158px) {
    width: 580px;
    height: 320px;
    margin-left: 100px;
    margin-top: -320px;
  }
}

.title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18.53px;
  color: #fafafa;
  padding-left: 30px;
  padding-top: 30px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    padding-top: 40px;
    padding-left: 40px;
  }
}
